@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

.pt-sans-narrow-regular {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.pt-sans-narrow-bold {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-style: normal;
}

* {
	font-family: 'PT Sans Narrow', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	width: 1100px;
	margin: auto;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: system-ui;
}

.visuallyhidden {
	position: absolute;
	z-index: -1;
	right: 0;
	opacity: 0;
}

h1 {
	color: white;
	text-align: center;
	margin-top: 1em;
}

.container {
	overflow: hidden;
	padding: 20px;
	display: flex;
	margin-top: 100px;
}

.card-carousel {
	--card-width: 80px;
	--card-max-width: 280px;
	--card-height: 350px;
	--carousel-min-width: 600px;
	z-index: 1;
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: var(--card-height);
	min-width: var(--carousel-min-width);
	transition: filter 0.3s ease;
}

@media screen and (max-width: 640px) {
	.card-carousel {
		margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
	}
}

.card-carousel.smooth-return {
	transition: all 0.2s ease;
}

.card-carousel .card {
	background: whitesmoke;
	width: var(--card-width);
	max-width: var(--card-max-width);
	text-align: center;
	padding: 1em;
	min-width: 250px;
	height: var(--card-height);
	position: absolute;
	margin: 0 auto;
	color: rgba(0, 0, 0, 0.5);
	transition: inherit;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 1em;
	filter: brightness(0.9);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card.highlight {
	filter: brightness(1);
}

.card:nth-of-type(1) .image-container {
	background-image: url('../img/lgot_mnogodet_pr.webp');
}

.card:nth-of-type(2) .image-container {
	background-image: url('../img/a3a028132b06167c5216ba17c34bd95e.jpg');
}

.card:nth-of-type(3) .image-container {
	background-image: url('../img/width_480x2_q70.webp');
}
.card:nth-of-type(4) .image-container {
	background-image: url('../img/vzlom_profila_pr.webp');
}
.card:nth-of-type(5) .image-container {
	background-image: url('../img/c4a52d2b260e5cfbda1d4de89bf64f47.webp');
}

.image-container {
	width: 180px;
	height: 180px;
	position: relative;
	background-size: cover;
	margin-bottom: 2em;
	border-radius: 100%;
	padding: 1em;
	-webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
	transition: transform 0.2s;
}

a {
	text-decoration: none;
}

.silka-on-state {
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.2s;
}

.silka-on-state:hover {
	color: rgb(230, 230, 81);
}

.image-container:hover {
	transform: scale(1.1);
}

.image-container::after {
	content: '';
	display: block;
	width: 120%;
	height: 120%;
	border: solid 3px rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	position: absolute;
	top: calc(-10% - 3px);
	left: calc(-10% - 3px);
}

h2 {
	padding: 1em;
	margin-top: 1em;
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	color: white;
	border-radius: 0.2em;
	display: inline-block;
	transform: translateX(calc((100vw - 100%) / 2));
}

h2 a {
	color: #f5b916;
}

.odin {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1000px;
	margin: auto;
}

.odin a {
	color: black;
}

.odin h1 {
	width: 50%;
}

.odin h1 a:hover {
	color: rgb(177, 177, 0);
}

.odin img {
	width: 200px;
	height: 200px;
	-webkit-box-shadow: 0px 0px 10px 19px rgb(229, 255, 0);
	-moz-box-shadow: 0px 0px 10px 19px rgb(229, 255, 0);
	box-shadow: 0px 0px 10px 19px rgba(229, 255, 0, 0.671);
}

.main-paper-state {
	display: flex;
	margin-top: 200px;
	margin-bottom: 200px;
}

.main-paper-state h1 {
	font-size: 20px;
}

.main-paper-state-fir img {
	border-radius: 100%;
	border: solid 1px black;
	transition: 0.2s;
}

.main-paper-state-fir img:hover {
	transform: scale(1.1);
}

.main-paper-state-sec img {
	border-radius: 100%;
	border: solid 1px black;
	transition: 0.2s;
}

.main-paper-state-sec img:hover {
	transform: scale(1.1);
}

.main-paper-state-ther img {
	border-radius: 100%;
	border: solid 1px black;
	transition: 0.2s;
}

.main-paper-state-ther img:hover {
	transform: scale(1.1);
}

@media (max-width: 768px) {
	.main-paper-state {
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.odin {
		width: 100%;
		margin: 0;
		margin-top: 50px;
	}
}
